@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    background-color: #191f36;
}

.navbar {
    width: 100%;
    height: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: "Kanit", sans-serif;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.bars {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}

.bar-icon {
     color: white;
    font-size: 1.7rem;
}

.dropdown {
    flex-direction: column;
    display: flex;
    position: relative;
    top: 2.5rem;
    background: rgba(149,172,255,0.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 10rem;
    text-align: center;
    border-radius: 1rem;
    font-family: "Kanit", sans-serif;
    padding-right: 1rem;
    display: none;
}

.dropdown a {
    color: white;
    position: relative;
  left: 6%;

}
.dropdown a:hover {
    font-weight: 400;
    color: #59B2F4;
    text-shadow: 5px 0px 15px #59B2F4;
}


.Potfolio {
    font-size: 2.2rem;
    margin-left: 6rem;
}

.nav-items {
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    margin-right: 4rem;
}

.nav-items a:hover {
    font-weight: 400;
    color: #59B2F4;
    text-shadow: 5px 0px 15px #59B2F4;
}

#Home {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    color: white;

}

.resp {
    width: 100vw;
    display: flex;
    justify-content: space-around;

}

.main {
    margin-top: 8rem;
}

.img1 {
    border: 2px solid;
    margin-top: 3em;
    width: "270rem";
    height: "360rem";
    box-shadow: 1px 2px 20px #1467a4;
}

.img1:hover,
.border:hover {
    box-shadow: 2px 4px 40px #1467a4;
    cursor: pointer;
}

.Frontend {
    color: #1467a4;
}

.Hi {
    font-size: 1.7rem;
}

.name {
    font-size: 2.3rem;
}

.Iam {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.para {
    padding-bottom: 1rem;
}

.social-media-app {
    width: 100%;
}

.social-media {
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    width: 12rem;
}

.Download {
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0;
    background: #3e9add;
    color: azure;
}

.Download:hover {
    box-shadow: 1px 2px 20px #1467a4;
}

.btn {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 2px solid #3e9add;
    background-color: #191f36;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iii {
    color: #3e9add;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    padding-top: 8px;
}

.iii:hover {
    color: #191f36;
    font-size: 1rem;
}

.btn:hover {
    box-shadow: 1px 1px 10px #1467a4;
    background-color: #3e9add;
}

/* About Section  */
#About {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    color: white;
}

.about-resp {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.me {
    color: #3e9add;
}

.border {
    border: 2px solid;
    box-shadow: 1px 2px 20px #1467a4;
}

.Dvlpr {
    padding-top: .2rem;
    padding-bottom: 1.7rem;
}

.para2 {
    font-size: .9rem;
}

.more {
    margin-top: 2rem;
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0;
    background: #3e9add;
    color: azure;
    cursor: pointer;
    box-shadow: 1px 2px 20px #1467a4;
}

.more:hover {
    box-shadow: 2px 4px 40px #1467a4;
}

/* service-Section */
#Services {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: "Varela Round", sans-serif;
}

.services-resp {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.margin {
    position: relative;
    top: 6.5rem;
    margin-left: 6.5rem;
    font-family: "Varela Round", sans-serif;
}

.top {
    color: wheat;

}

.change {
    color: #1467a4;
}

.read {
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0;
    background: #3e9add;
    color: azure;
    margin: 1rem 0rem 1rem 0rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px #1467a4;
}

.Html-css {
    width: 20rem;
    text-align: center;
    border: .2rem solid #3e9add;
    border-radius: 2rem;
    background-color: #262a40;
    padding: 1rem;
    cursor: pointer;

}

.Tailwind-CSS {
    width: 20rem;
    text-align: center;
    border: .2rem solid #3e9add;
    border-radius: 2rem;
    background-color: #262a40;
    padding: 1rem;
    cursor: pointer;

}

.Bootstarp {
    width: 20rem;
    text-align: center;
    border: .2rem solid #3e9add;
    border-radius: 2rem;
    background-color: #262a40;
    padding: 1rem;
    cursor: pointer;
}

.icon {
    color: #3e9add;
    font-size: 3rem;
    margin-bottom: .3rem;
}

.html-para,
.css-para,
.boot-para {
    margin-top: 1rem;
    margin-bottom: .6rem;
    font-size: .9rem;
    line-height: 1.1rem;
}

.All:hover {
    box-shadow: 2px 4px 30px #1467a4;
    font-size: 1rem;
    font-weight: normal;
    background-color: #191f36;
}

/* project-section */
#Potfolio {
    height: 100vh;
    font-family: "Varela Round", sans-serif;
}

.click {
    margin-top: 1.4rem;
}

.Project,
.contct {
    height: 9rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.my {
    color: wheat;
}

.pjt {
    color: #1467a4;
}

.pro-container {
    margin: 0rem 10rem 0rem 10rem;
}

.Box1 {
    position: relative;
    width: 18.8rem;
    height: 12rem;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2rem;
}

.Box1 img {
    width: 100%;
    height: 100%;
}

.hover-content {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #59B2F4);
    position: absolute;
    top: 100%;
    left: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    padding-top: 2rem;
}

.Box1:hover .hover-content {
    top: 0%;
}

.flex1,
.flex2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;

}

/* Contacts-Section */
#Contacts {
    height: 100vh;
    font-family: "Varela Round", sans-serif;
    text-align: center;

}

.contact {
    color: wheat;
}

.mee {
    color: #1467a4;
}

#area {
    width: 36rem;
    border-radius: .5rem;
    background-color: #191b27;
    color: rgb(108, 103, 103);
    padding: .6rem 0rem 0rem .6rem;
    border: 0;
    outline: 0;
    font-family: "Varela Round", sans-serif;
}

.name-mail {
    margin: 1rem 0rem 1rem 0rem;
}

.input {
    padding: .7rem 6rem .7rem .5rem;
    border-radius: .5rem;
    background-color: #191b27;
    color: rgb(108, 103, 103);
    border: 0;
    outline: 0;
    font-family: "Varela Round", sans-serif;
}

.send {
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0;
    background: #3e9add;
    color: azure;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px #1467a4;
}

.send:hover {
    box-shadow: 2px 2px 20px #1467a4;
}